## Workflow of preprocessing

### Collect and clean stats data

In [173]:
from ScrapeProcFunc import *
import pickle
import warnings
warnings.simplefilter('ignore')

In [2]:
#1.  Make a list of dataframes containing NFL-Combines Data
list_df_Combines = createDFs('comb', 2000, 2014)

url reached,  https://www.pro-football-reference.com/draft/2000-combine.htm
url reached,  https://www.pro-football-reference.com/draft/2001-combine.htm
url reached,  https://www.pro-football-reference.com/draft/2002-combine.htm
url reached,  https://www.pro-football-reference.com/draft/2003-combine.htm
url reached,  https://www.pro-football-reference.com/draft/2004-combine.htm
url reached,  https://www.pro-football-reference.com/draft/2005-combine.htm
url reached,  https://www.pro-football-reference.com/draft/2006-combine.htm
url reached,  https://www.pro-football-reference.com/draft/2007-combine.htm
url reached,  https://www.pro-football-reference.com/draft/2008-combine.htm
url reached,  https://www.pro-football-reference.com/draft/2009-combine.htm
url reached,  https://www.pro-football-reference.com/draft/2010-combine.htm
url reached,  https://www.pro-football-reference.com/draft/2011-combine.htm
url reached,  https://www.pro-football-reference.com/draft/2012-combine.htm
url reached,  https://www.pro-football-reference.com/draft/2013-combine.htm
url reached,  https://www.pro-football-reference.com/draft/2014-combine.htm
finished collecting soups
finished making variables
finished making dictionaries
finished making dataframes

 15 Pandas df's created, which are:

dfcomb_2000
dfcomb_2001
dfcomb_2002
dfcomb_2003
dfcomb_2004
dfcomb_2005
dfcomb_2006
dfcomb_2007
dfcomb_2008
dfcomb_2009
dfcomb_2010
dfcomb_2011
dfcomb_2012
dfcomb_2013
dfcomb_2014

In [3]:
#2.  Make a list of dataframes containing Rushing stats, 2018-2014
list_df_Rush = createDFs('rush', 2000, 2014)

url reached,  https://www.pro-football-reference.com/years/2000/rushing.htm
url reached,  https://www.pro-football-reference.com/years/2001/rushing.htm
url reached,  https://www.pro-football-reference.com/years/2002/rushing.htm
url reached,  https://www.pro-football-reference.com/years/2003/rushing.htm
url reached,  https://www.pro-football-reference.com/years/2004/rushing.htm
url reached,  https://www.pro-football-reference.com/years/2005/rushing.htm
url reached,  https://www.pro-football-reference.com/years/2006/rushing.htm
url reached,  https://www.pro-football-reference.com/years/2007/rushing.htm
url reached,  https://www.pro-football-reference.com/years/2008/rushing.htm
url reached,  https://www.pro-football-reference.com/years/2009/rushing.htm
url reached,  https://www.pro-football-reference.com/years/2010/rushing.htm
url reached,  https://www.pro-football-reference.com/years/2011/rushing.htm
url reached,  https://www.pro-football-reference.com/years/2012/rushing.htm
url reached,  https://www.pro-football-reference.com/years/2013/rushing.htm
url reached,  https://www.pro-football-reference.com/years/2014/rushing.htm
finished collecting soups
finished making dictionaries
finished making dataframes

 15 Pandas df's created, which are:

dfrush_2000
dfrush_2001
dfrush_2002
dfrush_2003
dfrush_2004
dfrush_2005
dfrush_2006
dfrush_2007
dfrush_2008
dfrush_2009
dfrush_2010
dfrush_2011
dfrush_2012
dfrush_2013
dfrush_2014

In [4]:
# 3.  Make a list of dataframes containing Passing stats, 2018-2014
list_df_Pass = createDFs('pass', 2000, 2014)

url reached,  https://www.pro-football-reference.com/years/2000/passing.htm
url reached,  https://www.pro-football-reference.com/years/2001/passing.htm
url reached,  https://www.pro-football-reference.com/years/2002/passing.htm
url reached,  https://www.pro-football-reference.com/years/2003/passing.htm
url reached,  https://www.pro-football-reference.com/years/2004/passing.htm
url reached,  https://www.pro-football-reference.com/years/2005/passing.htm
url reached,  https://www.pro-football-reference.com/years/2006/passing.htm
url reached,  https://www.pro-football-reference.com/years/2007/passing.htm
url reached,  https://www.pro-football-reference.com/years/2008/passing.htm
url reached,  https://www.pro-football-reference.com/years/2009/passing.htm
url reached,  https://www.pro-football-reference.com/years/2010/passing.htm
url reached,  https://www.pro-football-reference.com/years/2011/passing.htm
url reached,  https://www.pro-football-reference.com/years/2012/passing.htm
url reached,  https://www.pro-football-reference.com/years/2013/passing.htm
url reached,  https://www.pro-football-reference.com/years/2014/passing.htm
finished collecting soups
finished making dictionaries
finished making dataframes

 15 Pandas df's created, which are:

dfpass_2000
dfpass_2001
dfpass_2002
dfpass_2003
dfpass_2004
dfpass_2005
dfpass_2006
dfpass_2007
dfpass_2008
dfpass_2009
dfpass_2010
dfpass_2011
dfpass_2012
dfpass_2013
dfpass_2014

In [5]:
#4.  Make a list of dataframes containing Receiving stats, 2018-2014
list_df_Rec = createDFs('rec',2000, 2014)

url reached,  https://www.pro-football-reference.com/years/2000/receiving.htm
url reached,  https://www.pro-football-reference.com/years/2001/receiving.htm
url reached,  https://www.pro-football-reference.com/years/2002/receiving.htm
url reached,  https://www.pro-football-reference.com/years/2003/receiving.htm
url reached,  https://www.pro-football-reference.com/years/2004/receiving.htm
url reached,  https://www.pro-football-reference.com/years/2005/receiving.htm
url reached,  https://www.pro-football-reference.com/years/2006/receiving.htm
url reached,  https://www.pro-football-reference.com/years/2007/receiving.htm
url reached,  https://www.pro-football-reference.com/years/2008/receiving.htm
url reached,  https://www.pro-football-reference.com/years/2009/receiving.htm
url reached,  https://www.pro-football-reference.com/years/2010/receiving.htm
url reached,  https://www.pro-football-reference.com/years/2011/receiving.htm
url reached,  https://www.pro-football-reference.com/years/2012/receiving.htm
url reached,  https://www.pro-football-reference.com/years/2013/receiving.htm
url reached,  https://www.pro-football-reference.com/years/2014/receiving.htm
finished collecting soups
finished making dictionaries
finished making dataframes

 15 Pandas df's created, which are:

dfrec_2000
dfrec_2001
dfrec_2002
dfrec_2003
dfrec_2004
dfrec_2005
dfrec_2006
dfrec_2007
dfrec_2008
dfrec_2009
dfrec_2010
dfrec_2011
dfrec_2012
dfrec_2013
dfrec_2014

In [6]:
#5.  Clean up Player names
list_df_Pass_tmp = cleaningupColumn(list_df_Pass, ['Player'])
list_df_Rec_tmp = cleaningupColumn(list_df_Rec, ['Player'])
list_df_Rush_tmp = cleaningupColumn(list_df_Rush, ['Player'])

cleaning ['Player']
cleaning ['Player']
cleaning ['Player']

In [7]:
#6.  Merge Rush, Pass, and Rec Stats together
list_df_Pass_clean = getdfNameYardsTd(list_df_Pass_tmp)
list_df_Rush_clean = getdfNameYardsTd(list_df_Rush_tmp)
list_df_Rec_clean = getdfNameYardsTd(list_df_Rec_tmp)

In [8]:
#7.  Make subsets of NFL-Combine dataframes for specific positions
list_df_Combines_QB = makeSubsetPos(list_df_Combines, ['QB'])
list_df_Combines_RB = makeSubsetPos(list_df_Combines, ['RB'])
list_df_Combines_WR = makeSubsetPos(list_df_Combines, ['WR'])

dimension of new QB dataframes:
 (18, 13)
dimension of new QB dataframes:
 (18, 13)
dimension of new QB dataframes:
 (14, 13)
dimension of new QB dataframes:
 (16, 13)
dimension of new QB dataframes:
 (21, 13)
dimension of new QB dataframes:
 (23, 13)
dimension of new QB dataframes:
 (23, 13)
dimension of new QB dataframes:
 (20, 13)
dimension of new QB dataframes:
 (20, 13)
dimension of new QB dataframes:
 (21, 13)
dimension of new QB dataframes:
 (18, 13)
dimension of new QB dataframes:
 (18, 13)
dimension of new QB dataframes:
 (19, 13)
dimension of new QB dataframes:
 (16, 13)
dimension of new QB dataframes:
 (19, 13)
dimension of new RB dataframes:
 (34, 13)
dimension of new RB dataframes:
 (20, 13)
dimension of new RB dataframes:
 (36, 13)
dimension of new RB dataframes:
 (24, 13)
dimension of new RB dataframes:
 (22, 13)
dimension of new RB dataframes:
 (28, 13)
dimension of new RB dataframes:
 (25, 13)
dimension of new RB dataframes:
 (28, 13)
dimension of new RB dataframes:
 (30, 13)
dimension of new RB dataframes:
 (26, 13)
dimension of new RB dataframes:
 (25, 13)
dimension of new RB dataframes:
 (34, 13)
dimension of new RB dataframes:
 (27, 13)
dimension of new RB dataframes:
 (33, 13)
dimension of new RB dataframes:
 (32, 13)
dimension of new WR dataframes:
 (45, 13)
dimension of new WR dataframes:
 (46, 13)
dimension of new WR dataframes:
 (37, 13)
dimension of new WR dataframes:
 (39, 13)
dimension of new WR dataframes:
 (50, 13)
dimension of new WR dataframes:
 (39, 13)
dimension of new WR dataframes:
 (41, 13)
dimension of new WR dataframes:
 (49, 13)
dimension of new WR dataframes:
 (53, 13)
dimension of new WR dataframes:
 (44, 13)
dimension of new WR dataframes:
 (46, 13)
dimension of new WR dataframes:
 (46, 13)
dimension of new WR dataframes:
 (47, 13)
dimension of new WR dataframes:
 (38, 13)
dimension of new WR dataframes:
 (49, 13)

In [174]:
#8.  Clean up draft info column in list of df_Combines
list_df_Combines_QB = addDraftInfo(list_df_Combines_QB)
list_df_Combines_RB = addDraftInfo(list_df_Combines_RB)
list_df_Combines_WR = addDraftInfo(list_df_Combines_WR)

In [10]:
#9.  Aggregate Stats(Yds+TD)-dataframes into 4-year sets 
print('QB')
list_df_Pass_agg1234 = addYearsTD(list_df_Pass_clean, '2000', '2012')
print('RB')
list_df_Rush_agg1234 = addYearsTD(list_df_Rush_clean, '2000', '2012')
print('WR')
list_df_Rec_agg1234 = addYearsTD(list_df_Rec_clean,'2000', '2012')

QB
4yr-period 2000-2012 has 214
4yr-period 2000-2012 has 224
4yr-period 2000-2012 has 222
4yr-period 2000-2012 has 221
4yr-period 2000-2012 has 201
4yr-period 2000-2012 has 190
4yr-period 2000-2012 has 191
4yr-period 2000-2012 has 202
4yr-period 2000-2012 has 208
4yr-period 2000-2012 has 200
4yr-period 2000-2012 has 189
4yr-period 2000-2012 has 190
RB
4yr-period 2000-2012 has 588
4yr-period 2000-2012 has 591
4yr-period 2000-2012 has 588
4yr-period 2000-2012 has 597
4yr-period 2000-2012 has 605
4yr-period 2000-2012 has 592
4yr-period 2000-2012 has 613
4yr-period 2000-2012 has 608
4yr-period 2000-2012 has 613
4yr-period 2000-2012 has 623
4yr-period 2000-2012 has 621
4yr-period 2000-2012 has 625
WR
4yr-period 2000-2012 has 743
4yr-period 2000-2012 has 734
4yr-period 2000-2012 has 721
4yr-period 2000-2012 has 726
4yr-period 2000-2012 has 750
4yr-period 2000-2012 has 771
4yr-period 2000-2012 has 771
4yr-period 2000-2012 has 792
4yr-period 2000-2012 has 806
4yr-period 2000-2012 has 826
4yr-period 2000-2012 has 824
4yr-period 2000-2012 has 836

In [12]:
#10. Rename yrs columns
list_df_Pass_agg1234 = renamingYrsColumns(list_df_Pass_agg1234)
list_df_Rush_agg1234 = renamingYrsColumns(list_df_Rush_agg1234)
list_df_Rec_agg1234 = renamingYrsColumns(list_df_Rec_agg1234)

In [13]:
#11. Merge aggregated (4yr) Stats data with the NFL_combine, which filters out ones not listed in the dfcombine
list_4yrSet_QB = mergeCombYdsTD(list_df_Combines_QB, list_df_Pass_agg1234, method='left')
list_4yrSet_RB = mergeCombYdsTD(list_df_Combines_RB, list_df_Rush_agg1234, method='left')
list_4yrSet_WR = mergeCombYdsTD(list_df_Combines_WR, list_df_Rec_agg1234, method='left')

(18, 26)
(18, 26)
(14, 26)
(16, 26)
(21, 26)
(23, 26)
(23, 26)
(20, 26)
(20, 26)
(21, 26)
(18, 26)
(18, 26)
we should expect a total of 230 QBs from these df's
(34, 26)
(20, 26)
(39, 26)
(24, 26)
(22, 26)
(28, 26)
(25, 26)
(35, 26)
(30, 26)
(26, 26)
(25, 26)
(34, 26)
we should expect a total of 342 RBs from these df's
(45, 26)
(46, 26)
(37, 26)
(39, 26)
(50, 26)
(40, 26)
(41, 26)
(65, 26)
(53, 26)
(44, 26)
(49, 26)
(46, 26)
we should expect a total of 555 WRs from these df's

In [14]:
#12. Count how many duplicates (if any) in the df's 
#    Duplicates are indicated by nonzeros in the first value of the tuple 
print('QB')
countDuplicates(list_4yrSet_QB)
print('RB')
countDuplicates(list_4yrSet_RB)
print('WR')
countDuplicates(list_4yrSet_WR)

QB
(0, 26)
(0, 26)
(0, 26)
(0, 26)
(0, 26)
(0, 26)
(0, 26)
(0, 26)
(0, 26)
(0, 26)
(0, 26)
(0, 26)
RB
(0, 26)
(0, 26)
(4, 26)
(0, 26)
(0, 26)
(0, 26)
(0, 26)
(8, 26)
(0, 26)
(0, 26)
(0, 26)
(0, 26)
WR
(0, 26)
(0, 26)
(0, 26)
(0, 26)
(0, 26)
(2, 26)
(0, 26)
(18, 26)
(0, 26)
(0, 26)
(4, 26)
(0, 26)

In [15]:
# Try to drop all duplicates
list_4yrSet_QB = [df.drop_duplicates() for df in list_4yrSet_QB]
list_4yrSet_RB = [df.drop_duplicates() for df in list_4yrSet_RB]
list_4yrSet_WR = [df.drop_duplicates() for df in list_4yrSet_WR]

In [16]:
# Check again for duplicates
print('QB')
countDuplicates(list_4yrSet_QB)
print('RB')
countDuplicates(list_4yrSet_RB)
print('WR')
countDuplicates(list_4yrSet_WR)

QB
(0, 26)
(0, 26)
(0, 26)
(0, 26)
(0, 26)
(0, 26)
(0, 26)
(0, 26)
(0, 26)
(0, 26)
(0, 26)
(0, 26)
RB
(0, 26)
(0, 26)
(4, 26)
(0, 26)
(0, 26)
(0, 26)
(0, 26)
(8, 26)
(0, 26)
(0, 26)
(0, 26)
(0, 26)
WR
(0, 26)
(0, 26)
(0, 26)
(0, 26)
(0, 26)
(2, 26)
(0, 26)
(18, 26)
(0, 26)
(0, 26)
(4, 26)
(0, 26)

In [17]:
# Show duplicated entries
findDuplicates(list_4yrSet_WR[7])

,Player,Pos,School,College,Ht,Wt,40yd,Vertical,Bench,Broad Jump,...,draftYr,draftStat,Yds_1,TD_1,Yds_2,TD_2,Yds_3,TD_3,Yds_4,TD_4
8,Chris Davis,WR,Florida State,College Stats,5-10,181,4.50,35.5,,115,...,2007,Yes,38,0,31,0,NaN,NaN,NaN,NaN
9,Chris Davis,WR,Florida State,College Stats,5-10,181,4.50,35.5,,115,...,2007,Yes,3,0,31,0,NaN,NaN,NaN,NaN
53,Steve Smith,WR,Southern California,College Stats,6-0,197,4.44,38.0,,120,...,2007,Yes,63,0,574,1,1220,7,554,2
52,Steve Smith,WR,Southern California,College Stats,6-0,197,4.44,38.0,,120,...,2007,Yes,63,0,574,1,1220,7,529,3
51,Steve Smith,WR,Southern California,College Stats,6-0,197,4.44,38.0,,120,...,2007,Yes,63,0,1421,6,982,7,554,2
50,Steve Smith,WR,Southern California,College Stats,6-0,197,4.44,38.0,,120,...,2007,Yes,63,0,1421,6,982,7,529,3
49,Steve Smith,WR,Southern California,College Stats,6-0,197,4.44,38.0,,120,...,2007,Yes,63,0,1421,6,1220,7,554,2
48,Steve Smith,WR,Southern California,College Stats,6-0,197,4.44,38.0,,120,...,2007,Yes,63,0,1421,6,1220,7,529,3
47,Steve Smith,WR,Southern California,College Stats,6-0,197,4.44,38.0,,120,...,2007,Yes,1002,7,574,1,982,7,554,2
46,Steve Smith,WR,Southern California,College Stats,6-0,197,4.44,38.0,,120,...,2007,Yes,1002,7,574,1,982,7,529,3
45,Steve Smith,WR,Southern California,College Stats,6-0,197,4.44,38.0,,120,...,2007,Yes,1002,7,574,1,1220,7,554,2
44,Steve Smith,WR,Southern California,College Stats,6-0,197,4.44,38.0,,120,...,2007,Yes,1002,7,574,1,1220,7,529,3
43,Steve Smith,WR,Southern California,College Stats,6-0,197,4.44,38.0,,120,...,2007,Yes,1002,7,1421,6,982,7,554,2
42,Steve Smith,WR,Southern California,College Stats,6-0,197,4.44,38.0,,120,...,2007,Yes,1002,7,1421,6,982,7,529,3
41,Steve Smith,WR,Southern California,College Stats,6-0,197,4.44,38.0,,120,...,2007,Yes,1002,7,1421,6,1220,7,554,2
40,Steve Smith,WR,Southern California,College Stats,6-0,197,4.44,38.0,,120,...,2007,Yes,1002,7,1421,6,1220,7,529,3
54,Steve Smith,WR,Southern California,College Stats,6-0,197,4.44,38.0,,120,...,2007,Yes,63,0,574,1,982,7,529,3
55,Steve Smith,WR,Southern California,College Stats,6-0,197,4.44,38.0,,120,...,2007,Yes,63,0,574,1,982,7,554,2

In [18]:
# Removing Duplicates after checking for accuracy in the source websites
list_4yrSet_RB[2] = list_4yrSet_RB[2].drop([36,37,38])             # 
list_4yrSet_RB[7] = list_4yrSet_RB[7].drop([18,19,20,21,22,23,24]) # Adrian Peterson
list_4yrSet_RB[5] = list_4yrSet_RB[5].drop([12])                   # Chris Henry
list_4yrSet_WR[7] = list_4yrSet_WR[7].drop([9])                    # Chris Davis
list_4yrSet_WR[7] = list_4yrSet_WR[7].drop([55,54,40,41,42,43,44,45,46,47,48,49,50,51,53]) # Steve Smith

---

### Collect and preprocessing Salary Data

In [20]:
#1. Collect list of base salaries
list_df_Salaries = createDFsalaries(2003, 2018)

In [21]:
with open('./data/list_df_Salaries_2003_2018.pkl', 'wb') as f:
    pickle.dump(list_df_Salaries, f)
    
# with open('./data/list_df_Salaries_2003_2018.pkl', 'rb') as f:
#     list_df_Salaries = pickle.load(f)

In [22]:
#2. Concatenate Salaries into a dataframe 
df_Salary_agg = bindSal(list_df_Salaries, 2003)

In [143]:
#3. Adjust past years salaries, based on US inflation rates  
df_Salary_agg = includeInflation(df_Salary_agg, 2003)

### Joining Salary with Stats dataframes

In [145]:
#1. Joining stats data with 5th year salary
list_data_QB = bindingSaltoStat(list_4yrSet_QB, df_Salary_agg, method='left')
list_data_RB = bindingSaltoStat(list_4yrSet_RB, df_Salary_agg, method='left')
list_data_WR = bindingSaltoStat(list_4yrSet_WR, df_Salary_agg, method='left')

In [147]:
#2. Renaming last column into "salary"
list_data_QB = renameSalCol(list_data_QB)
list_data_RB = renameSalCol(list_data_RB)
list_data_WR = renameSalCol(list_data_WR)

In [148]:
#3a. Looking for Duplicates QB
print('before removing:')
print(countDuplicates(list_data_QB))
list_data_QB = [df.drop_duplicates() for df in list_data_QB]
print('after removing dupes:')
print(countDuplicates(list_data_QB))

before removing:
(0, 27)
(0, 27)
(0, 27)
(0, 27)
(7, 27)
(2050, 27)
(0, 27)
(0, 27)
(0, 27)
(0, 27)
(2, 27)
(0, 27)
None
after removing dupes:
(0, 27)
(0, 27)
(0, 27)
(0, 27)
(0, 27)
(2, 27)
(0, 27)
(0, 27)
(0, 27)
(0, 27)
(0, 27)
(0, 27)
None

In [149]:
# Drop TE Alex Smith
list_data_QB[5] = list_data_QB[5].drop([149]) # Alex smith QB not TE

In [151]:
#3b. Looking for duplicates RB
print('before removing')
print(countDuplicates(list_data_RB))
list_data_RB = [df.drop_duplicates() for df in list_data_RB]
print('after removing')
print(countDuplicates(list_data_RB))

before removing
(0, 27)
(0, 27)
(5, 27)
(0, 27)
(6, 27)
(0, 27)
(4, 27)
(6, 27)
(0, 27)
(0, 27)
(0, 27)
(2, 27)
None
after removing
(0, 27)
(0, 27)
(0, 27)
(0, 27)
(0, 27)
(0, 27)
(0, 27)
(2, 27)
(0, 27)
(0, 27)
(0, 27)
(0, 27)
None

In [152]:
# Dropping Lorenzo Booker
findDuplicates(list_data_RB[7])
list_data_RB[7] = list_data_RB[7].drop([1])

In [153]:
#3c. Looking for duplicates WR
print('before')
print(countDuplicates(list_data_WR))
list_data_WR = [df.drop_duplicates() for df in list_data_WR]
print('after')
print(countDuplicates(list_data_WR))

before
(0, 27)
(32, 27)
(2, 27)
(0, 27)
(2, 27)
(12, 27)
(4, 27)
(32, 27)
(0, 27)
(0, 27)
(16, 27)
(0, 27)
None
after
(0, 27)
(0, 27)
(0, 27)
(0, 27)
(0, 27)
(4, 27)
(2, 27)
(2, 27)
(0, 27)
(0, 27)
(4, 27)
(0, 27)
None

In [154]:
# Show duplicates
findDuplicates(list_data_WR[10])

,Player,Pos,School,College,Ht,Wt,40yd,Vertical,Bench,Broad Jump,...,draftStat,Yds_1,TD_1,Yds_2,TD_2,Yds_3,TD_3,Yds_4,TD_4,Salary
43,Mike Williams,WR,Syracuse,College Stats,6-1,221,4.53,33.5,8,116,...,Yes,751,2,771,3,996,9,216,2,7740000.0
47,Mike Williams,WR,Syracuse,College Stats,6-1,221,4.53,33.5,8,116,...,Yes,751,2,236,1,996,9,216,2,7740000.0
51,Mike Williams,WR,Syracuse,College Stats,6-1,221,4.53,33.5,8,116,...,Yes,964,11,771,3,996,9,216,2,7740000.0
55,Mike Williams,WR,Syracuse,College Stats,6-1,221,4.53,33.5,8,116,...,Yes,964,11,236,1,996,9,216,2,7740000.0

In [155]:
# Dropping more duplicates
list_data_WR[5] = list_data_WR[5].drop([12,15,16])    # Chris Henry
list_data_WR[6] = list_data_WR[6].drop([13])          # Derek Hagan
list_data_WR[7] = list_data_WR[7].drop([39])          # Steve Smith 
list_data_WR[10] = list_data_WR[10].drop([43, 47,55]) # Mike Williams

In [156]:
#4. Concatenate dataframes for each position
df_Concat_QB = concatAll4YrSets(list_data_QB).reset_index()
df_Concat_RB = concatAll4YrSets(list_data_RB).reset_index()
df_Concat_WR = concatAll4YrSets(list_data_WR).reset_index()

18
18
14
16
21
23
23
20
20
21
18
18
Total of 230
34
20
36
24
22
27
25
28
30
26
25
34
Total of 331
45
46
37
39
50
39
41
49
53
44
46
46
Total of 535

### Clean dataframe further for EDA and modeling

In [176]:
#1. Fillin in NAN with zeros
df_Concat_QB= df_Concat_QB.fillna(0)
df_Concat_RB= df_Concat_RB.fillna(0)
df_Concat_WR= df_Concat_WR.fillna(0)

In [177]:
#2. Look at attrition rate, what % survive 5years in NFL
calcDropOuts(df_Concat_QB, 2000, 2014)
calcDropOuts(df_Concat_RB, 2000, 2014)
calcDropOuts(df_Concat_WR, 2000, 2014)

67% players in 2000-2014 start years didnt make it 5 years
67% players in 2000-2014 start years didnt make it 5 years
68% players in 2000-2014 start years didnt make it 5 years

In [178]:
#2 (b) How many players survive 5 years?
print(df_Concat_QB[df_Concat_QB['Salary'] != 0].shape)
print(df_Concat_RB[df_Concat_RB['Salary'] != 0].shape)
print(df_Concat_WR[df_Concat_WR['Salary'] != 0].shape)

(77, 29)
(108, 29)
(171, 29)

In [179]:
#3. Convert Ht from Foot-Inches to (only) Inches
df_Concat_QB = engineerHt(df_Concat_QB)
df_Concat_RB = engineerHt(df_Concat_RB)
df_Concat_WR = engineerHt(df_Concat_WR)

In [180]:
# Renaming column name: '40yd' into dash'
df_Concat_QB.rename(columns = {'40yd':'dash'}, inplace=True)
df_Concat_RB.rename(columns = {'40yd':'dash'}, inplace=True)
df_Concat_WR.rename(columns = {'40yd':'dash'}, inplace=True)

In [181]:
#4 Select columns to use 
categorical_columns =['School','draftTeam', 'draftStat']
more = ['Broad Jump','3Cone','Shuttle','Vertical', 'Bench',
        'draftRnd','draftPick']

select_columns = ['Player','ht_inch','draftTeam','draftStat','draftRnd',
                      'Wt','dash',
                     'Yds_1','TD_1','Yds_2','TD_2','Yds_3','TD_3',
                     'Yds_4','TD_4','Salary']
df_QB = df_Concat_QB[select_columns]
df_RB = df_Concat_RB[select_columns]
df_WR = df_Concat_WR[select_columns]

In [182]:
print('QB: %s   RB: %s   WR: %s' %(len(df_QB), len(df_RB), len(df_WR)))
print('total: ', len(df_QB)+len(df_RB)+ len(df_WR))

QB: 230   RB: 331   WR: 535
total:  1096

In [183]:
#5 Find Players that survive 4 years, i.e., those that are receiving payment on the 4th year
df_QB_active = df_QB[df_QB['Salary'] != 0]
df_RB_active = df_RB[df_RB['Salary'] != 0]
df_WR_active = df_WR[df_WR['Salary'] != 0]

In [184]:
# How many observations do we have 
print('QB: %s   RB: %s   WR: %s' %(len(df_QB_active), len(df_RB_active), len(df_WR_active)))
print('total: ', len(df_QB_active) +len(df_RB_active) + len(df_WR_active))

QB: 77   RB: 108   WR: 171
total:  356

In [185]:
# Converting STATS and Salaries to numeric values
intcols = ['Yds_1', 'TD_1','Yds_2','TD_2','Yds_3','TD_3','Yds_4','TD_4']
for col in intcols:
    df_QB_active[col] = df_QB_active[col].astype(int)
    df_RB_active[col] = df_RB_active[col].astype(int)
    df_WR_active[col] = df_WR_active[col].astype(int)

df_QB_active['Salary'] = df_QB_active['Salary'].astype(float)
df_QB_active['dash'] = df_QB_active['dash'].astype(float)
df_QB_active['draftRnd'] = df_QB_active['draftRnd'].apply(removeTh)

df_RB_active['Salary'] = df_RB_active['Salary'].astype(float)
df_RB_active['dash'] = df_RB_active['dash'].astype(float)
df_RB_active['draftRnd'] = df_RB_active['draftRnd'].apply(removeTh)

df_WR_active['Salary'] = df_WR_active['Salary'].astype(float)
df_WR_active['dash'] = df_WR_active['dash'].astype(float)
df_WR_active['draftRnd'] = df_WR_active['draftRnd'].apply(removeTh)

### Saving dataframes

In [172]:
df_QB_active.to_csv('./data/QBactive_4th.csv')
df_RB_active.to_csv('./data/RBactive_4th.csv')
df_WR_active.to_csv('./data/WRactive_4th.csv')

---